@theme {
	--color-primary: #334f52;
	--color-secondary: #7b888e;
	--color-bg: #eeeeee;
	--color-border: #fff;
	--color-brand: #35bfab;

	--font-averia: 'Averia Gruesa Libre', sans-serif;
	--font-sans:
		'PingFang SC', -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, BlinkMacSystemFont, 'Helvetica Neue',
		'Hiragino Sans GB', 'Microsoft YaHei', Arial;
}

@layer components {
	.card {
		@apply bg-white/40 backdrop-blur-md border border-white/20 rounded-xl shadow-lg relative;
	}
}

